// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


font-family: 'Creepster', cursive;
font-family: 'Frijole', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Quicksand', sans-serif;




body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #ECEFF1;
  margin: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  font-weight: bold;
  opacity: .74;
}

h1.vampireTitle {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 48px;
  font-weight: bold;
  color: #BA68C8;
  text-shadow: 2px 2px 0px white;
}

h1.zombieTitle {
  font-family: 'Creepster', cursive;
  font-size: 48px;
  font-weight: bold;
  color: #689F38;
  text-shadow: 2px 2px 0px white;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h2.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  opacity: .74;
  padding-top: 12px;
}

h2.sectionHeader {
  font-family: 'Frijole', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
  text-shadow: 2px 2px 2px #F44336;
  padding-bottom: 16px;
}


h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
  opacity: .74;
}

h3.vampireTitle {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 24px;
  color: black;
  opacity: .74;
  text-shadow: 1px 1px 1px red;
}

h3.zombieTitle {
  font-family: 'Creepster', cursive;
  font-size: 22px;
  color: black;
  opacity: .74;
  text-shadow: 2px 2px 0px white;
}

h3.zombieHeader {
  font-family: 'Creepster', cursive;
  font-size: 24px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  opacity: .74;
}

h4.tagline {
  font-family: 'Frijole', cursive;
  font-size: 20px;
  font-weight: regular;
  color: #ECEFF1;
  text-shadow: 1px 1px 1px black;
}



h5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: regular;
  opacity: .74;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  opacity: .74;
}

.brand {
  margin-bottom: 40px;
}


.vampireHeader {
  margin: auto 0;
}

.nav {
  padding-top: 20px 20px 20px 20px;
}

.navbar-brand {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.nav-item {
  color: black;
  font-size: 24px;
  font-weight: normal;
}

a:active {
  background-color: #CE93D8;
}

a:hover {
  background-color: #F3E5F5;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  margin-right: 16px;
}

.brand {
  color: black;
  font-size: 24px;
  font-weight: bold;
}


.splash {
  background-color: #C62828;
  padding: 80px  0px 120px 0px;
  margin-bottom: 0px;
}

.taglineSection {
  margin-top: 40px;
}

.drip {
  height: 200px;
  background-color: #ECEFF1;
}

.dripCol {
  background-color: none;
  height: 200px;
  width: auto;
  padding: 0;
}

.dripOne {
  height: 200px;
  width: 100%;
  background-color: #C62828;
  border-radius: 0px 0px 1000px 1000px;
  padding: 0;
  box-shadow: inset 0px -4px 0px rgba(0,0,0,.1);
}

.dripTwo {
  height: 175px;
  width: 100%;
  background-color: #C62828;
  border-radius: 0px 0px 1000px 1000px;
  padding: 0;
  box-shadow: inset 0px -4px 0px rgba(0,0,0,.1);
}

.dripThree {
  height: 150px;
  width: 100%;
  background-color: #C62828;
  border-radius: 0px 0px 1000px 1000px;
  padding: 0;
  box-shadow: inset 0px -4px 0px rgba(0,0,0,.1);
}

.reverseDripCol {
  background-color: #C62828;
  height: 160px;
  width: auto;
  padding: 0;
}

.reverseDripOne {
  height: 180px;
  width: 100%;
  background-color:#ECEFF1;
  border-radius: 1000px 1000px 0px 0px;
  margin-top: 20px;
  padding: 0;
  box-shadow: inset 0px 4px 0px rgba(0,0,0,.3);
}

.reverseDripTwo {
  height:200px;
  width: 100%;
  background-color:#ECEFF1;
  border-radius: 1000px 1000px 0px 0px;
  margin-top: 00px;
  margin-bottom: 20px;
  padding: 0;
  box-shadow: inset 0px 4px 0px rgba(0,0,0,.3);
}

.gameLobby {
  background-color: #ECEFF1;
  padding: 0px  0px 120px 0px;
}

.enterLobby {
  margin-top: 40px;
  text-align: left;
}

.lobbyEntry {
  margin-top: 80px;
  text-align: left;
}

.rules {
  background-color: #ECEFF1;
  padding: 40px  80px 160px 80px;
}

#username {
  width: 400px;
}

.playerList {
  margin-bottom: 80px;
  margin-top: 5px;
}

.lobbyMessages {
  text-align: left;
  padding: 0px 0px 120px 0px;
}

.whiteToken {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px grey;
  margin: 0 auto;
  z-index: 75;
}

.whiteTokenShadow {
  background-color: none;
  opacity: .30;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: inset -2px -2px 6px black;
  z-index: 100;
}

.blackToken {
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px grey;
  margin: 0 auto;
}

.blackTokenHighlight {
  content: '';
  background-color: none;
  opacity: .40;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: inset 2px 2px 6px white;
  z-index: 100;
  margin: 0 auto;
}

.emptyToken {
  background-color: 0;
  height: 64px;
  width: 64px;
}

.greenToken {
  background-color: green;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px grey;
}

.error {
  height: 48px;
  width: 48px;
  background-color: red;
  border-radius: 48px;
  z-index: 100;
}

.errorShadow {
  position: absolute;
  left: -15px;
  top: 5px;
  content: '';
  height: 48px;
  width: 48px;
  background-color: none;
  opacity: .2;
  border-radius: 48px;
  box-shadow: inset -2px -2px 2px black;
  z-index: 150;
}

.errorSlash {
  position: absolute;
  content: '';
  left: 10px;
  top: -4px;
  height: 100px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg);
  z-index: 200;
}

.vampireHead{
  height: 60px;
  width: 60px;
  border-top: solid 8px black;
  border-radius: 100%;
  background-color: #ECEFF1;
  box-shadow: inset -2px -2px 2px rgba(0,0,0,0.2), 2px 2px 4px rgba(0,0,0,0.7);
  z-index: 200;
  margin: 0 auto;
}

.vampireHairPoint {
  position: relative;
  top: 0px;
  left: 22px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid black;
  z-index: 200;
}
.vampireEyes {
  position: relative;
  top: 8px;
  left: 16px;
  height: 4px;
  width: 30px;
  border-top: dotted 10px black;
  background-color: none;
  z-index: 300;
}

.vampireMouth {
  position:relative;
  top: 20px;
  left: 20px;
  height: 2px;
  width: 22px;
  border-top: solid 2px;
  border-radius: 0px 0px 8px 8px;
  z-index: 400;
}
/*
.vampireMouth:after {
  position:relative;
  top: 40px;
  left: -2px;
  content: '';
  height: 4px;
  width: 4px;
  border-radius: 8px 8px 8px 8px;
  background-color: red;
  z-index: 400;
}
*/

.vampireToothRight {
  position: relative;
  top: 15px;
  left: 36px;
	width: 0;
	height: 0;
	border-left: 2px solid transparent;
	border-right: 3px solid transparent;
	border-top: 5px solid black;
  z-index: 400;
}

.vampireToothLeft {
  position: relative;
  top: 20px;
  left: 21px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 2px solid transparent;
	border-top: 5px solid black;
  z-index: 400;
}

.zombieHead {
  height: 60px;
  width: 60px;
  background-color: #90A4AE;
  border-radius: 36px 36px 36px 36px;
  z-index: 100;
  box-shadow: inset -4px -4px 20px rgba(0,0,0,0.3), inset 2px 2px 4px rgba(255,255,255,0.3), 1px 3px 6px rgba(0,0,0,.7);
  margin: 0 auto;
}
/*
.zombieHead:after {
  position: absolute;
  top: 10px;
  left: 100px;
  content: '';
  height:10px;
  width: 10px;
  background-color: #90A4AE;
  opacity: .3;
  border-radius: 100%;
  z-index: 300;
  box-shadow: inset -4px -4px 20px rgba(0,0,0,0.3);
}

.zombieHead:before {
  position: absolute;
  top: 44px;
  left: 118px;
  content: ' ';
  height: 8px;
  width: 8px;
  background-color: #90A4AE;
  opacity: .6;
  border-radius: 100%;
  z-index: 300;
  box-shadow: inset -4px -4px 20px rgba(0,0,0,0.3);
}
*/
.zombieMouth {
  position: relative;
  top: 40px;
  left: 18px;
  height: 20px;
  width: 24px;
  background-color: #D32F2F;
  border-radius: 32px 32px 24px 24px;
  border-top: solid 4px black;
  border-bottom: solid 3px #588c85;
  z-index: 200;
}

.zombieEyeRight {
  position: relative;
  top: -10px;
  left: 36px;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
  background-color: #CFD8DC;
  z-index: 200;
}

.zombieEyeRight:after {
  position: absolute;
  content: '';
  top: 4px;
  left: 6px;
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background-color: black;
  z-index: 300;
}

.zombieCross {
  position: relative;
  top: 4px;
  left: 18px;
  background: black;
  height: 12px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.zombieCross:after {
  position: absolute;
  top: 4px;
  left: -4px;
  background: black;
  content: '';
  height: 4px;
  width: 12px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
-moz-animation:fadeIn ease-in 1;
animation:fadeIn ease-in 1;

-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;

-webkit-animation-duration:.4s;
-moz-animation-duration:.4s;
animation-duration:.4s;

  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.scoreBoard {
  background-color: #ECEFF1;
  padding: 20px 20px 4px 20px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: .95;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 4px 4px rgba(255,255,255,.3);
}

.scoreHeader {
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
  padding-left: 8px;
  height: 32px;
}

.score {
    text-align: center;
    padding: 40px 8px 8px 20px;
}

.scoreColor {
  display: block;
  text-align: center;
}

.scoreboardHeaderRow {
  height: 40px;
  border-bottom: solid 2px #7986CB;
  text-align: center;
  align-items: baseline;
  padding: 8px 0px 4px 20px;
}

.scoreboardRow {
  height: 64px;
  padding: 4px 0px 4px 8px;
  margin-top: 8px;
}

.myInfo {
  padding: 40px 8px 8px 20px;
}

.playArea {
  background-color: #C62828;
}

#whitesum {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
}

#blacksum {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
}

.board {
  text-align: center;
  padding: 20px 40px 20px 40px;
}

#quit {
  margin: 0 auto;
}

.btn {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin-left: 8px;
}

.btn:hover {
  box-shadow: inset 2px 2px 4px rgba(255,255,255,0.3), inset -2px -2px 4px rgba(0,0,0,0.3),3px 3px 6px rgba(0,0,0,0.4);
}

.playBtn {
  width: 200px;
  color: white;
  background-color: #4CAF50;
  border-radius: 100px;
  box-shadow: 2px 2px 4px #888888;
  margin-top: 40px;
}

.playBtn:hover {
    background-color: #00C853;
    color: white;
    box-shadow: inset 1px 1px 2px rgba(255,255,255,.3), 3px 3px 6px rgba(0,0,0,.4);
}

.btnEnter{
  margin-left: 16px;
  background-color: #689F38;
  border: none;
}

.btnEnter:hover{
  margin-left: 16px;
  background-color: #558B2F;
  border: none;
}

.btnSend {
  margin-left: 16px;
}

.btnQuit {
  height: 40px;
  width: 60px;
  text-align: center;
  border-radius: 100%;
  box-shadow: inset 1px 1px 2px rgba(255,255,255,.2)
}

#game_over {
  padding: 8px 8px 8px 8px;
}

#game_board {
  margin-top: 40px;
  margin-bottom: 40px;
}

table#game_board {
  align: middle;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea2e2e+0,991d7c+41,bc1215+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea2e2e+0,ad2041+41,bc1215+100 */
  background: none;
  border: solid 2px #C62828;
  padding-left: 0;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

table#game_board tr {
  height: auto;
  border: solid 1px #C62828;
  box-shadow: inset 2px 2px 4px rgba(255,255,255,.1);
}

table#game_board td {
  width: auto;
  border: solid 1px #C62828;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.2);
  padding: 4px;
}

.hovered_over:hover {
  background-image: url('...images/hover.gif');
  background-color: green;
  background-size: 100% 100%;
}

.messageBoard {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 80px 40px 200px 40px;
  background-color: #ECEFF1;
}

#messages {
  height: auto;
  background-color: #ECEFF1;
}

#messages p {
  margin: 0px;
}

#send_message_holder {
  width: 320px;
}
