@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: 32px;
}

a {
  color: black;
}

.nav {
  padding-top: 20px 20px 20px 20px;
}

.navbar-brand {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.nav-item {
  color: black;
  font-size: 24px;
  font-weight: normal;
}

a:active {
  background-color: #CE93D8;
}

a:hover {
  background-color: #F3E5F5;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  margin-right: 16px;
}

.brand {
  color: black;
  font-size: 24px;
  font-weight: bold;
}


.splash {
  background-color: #B39DDB;
  box-shadow: 3px 3px 10px #888888;
  padding: 40px  80px 120px 80px;
  margin-bottom: 40px;
}

.playBtn {
  width: 200px;
  color: white;
  background-color: #00C853;
  border-radius: 100px;
  box-shadow: 3px 3px 6px #888888;
  margin-top: 40px;
}

.playBtn:hover {
    background-color: #4CAF50;
    color: white;
}

.whiteToken {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px grey;
  margin: 0 auto;
  z-index: 75;
}

.whiteTokenShadow {
  background-color: none;
  opacity: .30;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: inset -2px -2px 6px black;
  z-index: 100;
}

.blackToken {
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px grey;
  margin: 0 auto;
}

.blackTokenHighlight {
  content: '';
  background-color: none;
  opacity: .40;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: inset 2px 2px 6px white;
  z-index: 100;
  margin: 0 auto;
}

.emptyToken {
  background-color: 0;
  height: 64px;
  width: 64px;
}

.greenToken {
  background-color: green;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px grey;
}

.error {
  height: 48px;
  width: 48px;
  background-color: red;
  border-radius: 48px;
  z-index: 100;
}

.errorShadow {
  position: absolute;
  left: -15px;
  top: 5px;
  content: '';
  height: 48px;
  width: 48px;
  background-color: none;
  opacity: .2;
  border-radius: 48px;
  box-shadow: inset -2px -2px 2px black;
  z-index: 150;
}

.errorSlash {
  position: absolute;
  content: '';
  left: 10px;
  top: -4px;
  height: 100px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg);
  z-index: 200;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
-moz-animation:fadeIn ease-in 1;
animation:fadeIn ease-in 1;

-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;

-webkit-animation-duration:.4s;
-moz-animation-duration:.4s;
animation-duration:.4s;

  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.scoreBoard {
  background-color: #B39DDB;
  padding-top: 20px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.scoreHeader {
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}

.score {
    text-align: center;
    padding: 40px 8px 8px 20px;
}

.scoreColor {
  display: block;
  text-align: center;
}

.myInfo {
  padding: 40px 8px 8px 20px;
}

.playArea {
  background-color: #B39DDB;
  margin-top: 20px;
}

#whitesum {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
}

#blacksum {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
}

.board {
  text-align: center;
}

#game_over {
  padding-left: 20px;
  margin-right: auto;
}

table#game_board {
  align: middle;
  background-color: #A5D6A7;
  border: solid 2px #90A4AE;
  box-shadow: 3px 3px 6px #607D8B;
  padding-left: 0;
  padding-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

table#game_board tr {
  height: auto;
  border: solid 1px #90A4AE;
}

table#game_board td {
  width: auto;
  border: solid 1px #90A4AE;
  padding: 4px;
}

.hovered_over:hover {
  background-image: url('...images/hover.gif');
  background-color: green;
  background-size: 100% 100%;
}

.messageBoard {
  margin-top: 20px;
  padding: 20px 40px 40px 40px;
}

#messages p {
  margin: 0px;
}

#send_message_holder {
  width: 320px;
}
